<div class="fundo">
    <div class="tela">
        <div class="inputs">
            <div class="div-inputs">

                <i class="fi fi-rr-user"></i>

                <input [(ngModel)]='user' placeholder="Usuário" type="text">

                <i class="fi fi-rr-eye" style="color: transparent;" (click)='verSenha()'></i>
            </div>
        </div>

        <div class="inputs">
            <div class="div-inputs">
                <i class="fi fi-rr-lock"></i>

                <input [(ngModel)]='password' placeholder="Senha" type="password">

                <i class="fi fi-rr-eye"></i>
            </div>
        </div>

        <div class=" buttons ">
            <button (click)='entrar()'><i class="fi fi-rr-sign-in-alt"></i>Entrar</button>
        </div>

        <div class="buttons ">
            <button (click)='entrarGoogle()'><img src="./assets/fazer_login_com_google.png" style="width: 15px; height: auto;">Entrar com o Google</button>
        </div>
    </div>
</div>

<!-- <i class="fi fi-rr-eye-crossed"></i> - Não vizualizar senha -->
<!-- <i class="fi fi-rr-home"></i> - Home -->
<!-- <i class="fi fi-rr-shopping-cart"></i> - Carrinho -->
<!-- <i class="fi fi-rr-headset"></i> - Fale conosco -->
<!-- <i class="fi fi-rr-menu-burger"></i> - Menu -->
<!-- <i class="fi fi-rr-shopping-cart-add"></i> - Adicionar ao carrinho -->
<!-- <i class="fi fi-rr-trash"></i> - Lixeira -->
<!-- <i class="fi fi-rr-check"></i> - Check -->
<!-- <i class="fi fi-rr-cross"></i> - X -->
<!-- <i class="fi fi-rr-plus"></i> - Mais -->
<!-- <i class="fi fi-rr-minus"></i> - Menos -->