<div class="fundo">
    <div class="tela">
        <div class="inputs">
            <input [(ngModel)]='user' placeholder="Username" type="text">
        </div>

        <div class="inputs">
            <input [(ngModel)]='password' placeholder="Password" type="password">
        </div>

        <div class="buttons">
            <button (click)='logar()'><img src="./login.png">Login</button>
        </div>

        <div class="buttons">
            <button (click)='logarGoogle()'><img src="./google.png">Logar com o Google</button>
        </div>
    </div>
</div>