* {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: 'Century Gothic';
}

.fundo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.tela {
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
}

.inputs {
    padding: 10px;
}

.inputs input {
    padding: 10px;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #707070;
    background-color: #DCDCDC;
}

.inputs input::placeholder {
    color: #707070;
}

.inputs input:hover {
    cursor: text;
}

.div-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    border-radius: 10px;
    background: #DCDCDC;
}

.div-inputs i {
    padding: 10px;
    color: #707070;
}

.buttons {
    padding: 10px;
}

.buttons button {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #000000;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons i {
    padding: 0px 10px 0px 0px;
}

.buttons img {
    padding: 0px 10px 0px 0px;
}

.underline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline p:hover {
    cursor: pointer;
}