<body>
    <header>
        <div class="navbar">
            <div class="first-container">
                <div class="div-text">
                    <div class="text">
                        <p>ENDEREÇO</p>
                    </div>

                    <div class="text">
                        <p>SOBRE</p>
                    </div>

                    <div class="text">
                        <p>BLOG</p>
                    </div>
                </div>

                <div class="div-icon">
                    <div class="icon">
                        <i class="fi fi-rr-user" (click)="fazerLogin()" title="Fazer login"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-home" (click)="irProHome()" title="Ir para a página inicial"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-headset" title="Fale conosco"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-menu-burger" title="Menu"></i>
                    </div>
                </div>
            </div>

            <div class="second-container">
                <div class="title">
                    <h1>WHISPER</h1>
                    <p>INSTRUMENTOS</p>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="principal-container">
            <div class="first-colunm">
                <div class="produto" *ngFor="let produto of lista">
                    <div class="infos-produto">
                        <div class="img-produto">
                            <img src="{{produto.URL}}" style="width: 100%;">
                        </div>

                        <div class="text-produto">
                            <p style="font-size: 20px;">{{produto.INSTRUMENTO}} {{produto.NOME}}</p>
                            <p style="font-size: 12px;">Cor: {{produto.COR}}</p>
                            <p style="font-size: 16px;">Preço: R$ {{produto.VALOR}}</p>
                        </div>
                    </div>

                    <div class="icones-produto">
                        <div class="icone">
                            <i class="fi fi-rr-minus" title=""></i>
                        </div>

                        <div class="icone">
                            <p> 1 </p>
                        </div>

                        <div class="icone">
                            <i class="fi fi-rr-plus" title=""></i>
                        </div>

                        <div class="icone">
                            <i class="fi fi-rr-trash" (click)="excluirProduto(produto.CODIGO)" title="Excluir do carrinho"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="second-colunm ">
                <div class="div-resumo">
                    <div class="titulo-resumo">
                        <p>RESUMO DA COMPRA</p>
                    </div>

                    <div class="infos-resumo">

                    </div>

                    <div class="botao-resumo">
                        <button>Finalizar compra</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="div-social-networks">
                <div class="social-network">
                    <img src="./assets/facebook.png">
                </div>

                <div class="social-network">
                    <img src="./assets/instagram.png">
                </div>

                <div class="social-network">
                    <img src="./assets/twitter.png">
                </div>

                <div class="social-network">
                    <img src="./assets/linkedin.png">
                </div>
            </div>

            <div class="div-informations">
                <div class="info">
                    <p>Informações • Suporte • Marketing</p>
                </div>

                <div class="info">
                    <p>Termos de Uso • Política de Privacidade</p>
                </div>
            </div>

            <div class="copyright">
                <p>&copy; 2022 Camilly Pessotti</p>
            </div>
        </div>
    </footer>
</body>