<body>
    <header>
        <div class="navbar">
            <div class="first-container">
                <div class="div-text">
                    <div class="text">
                        <p>ENDEREÇO</p>
                    </div>

                    <div class="text">
                        <p>SOBRE</p>
                    </div>

                    <div class="text">
                        <p>BLOG</p>
                    </div>
                </div>

                <div class="div-icon">
                    <div class="icon">
                        <i class="fi fi-rr-shopping-cart" (click)="irProCarrinho()" title="Ir para o carrinho"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-headset" title="Fale conosco"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-menu-burger" title="Menu"></i>
                    </div>
                </div>
            </div>

            <div class="second-container">
                <div class="title">
                    <h1>WHISPER</h1>
                    <p>INSTRUMENTOS</p>
                </div>
            </div>

            <div class="third-container">
                <div class="tabs">
                    <p style="color: #ff5100;">HOME</p>
                </div>

                <div class="tabs">
                    <p>VIOLÕES</p>
                </div>

                <div class="tabs">
                    <p>GUITARRAS</p>
                </div>

                <div class="tabs">
                    <p>BATERIAS</p>
                </div>

                <div class="tabs">
                    <p>PIANOS</p>
                </div>

                <div class="tabs">
                    <p>AMPLIFICADORES</p>
                </div>

                <div class="tabs">
                    <p>ACESSÓRIOS</p>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="div-product">
            <div *ngFor="let produto of listaProduto; let i = index" class="product">
                <div class="img-product">
                    <img src="{{produto.URL}}" style="width: 90%;">
                </div>

                <div class="info-product">
                    <div class="title-home">
                        <p style="font-size: 20px;">{{produto.INSTRUMENTO}} {{produto.NOME}}</p>
                    </div>

                    <div class="infos">
                        <p>Marca: {{produto.MARCA}}</p>
                        <p>Preço: R$ {{produto.VALOR}}</p>
                    </div>
                </div>

                <div class="button-product">
                    <button (click)='verProduto(i + 1)'>Ver produto</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="div-social-networks">
                <div class="social-network">
                    <img src="./assets/facebook.png">
                </div>

                <div class="social-network">
                    <img src="./assets/instagram.png">
                </div>

                <div class="social-network">
                    <img src="./assets/twitter.png">
                </div>

                <div class="social-network">
                    <img src="./assets/linkedin.png">
                </div>
            </div>

            <div class="div-informations">
                <div class="info">
                    <p>Informações • Suporte • Marketing</p>
                </div>

                <div class="info">
                    <p>Termos de Uso • Política de Privacidade</p>
                </div>
            </div>

            <div class="copyright">
                <p>&copy; 2022 Camilly Pessotti</p>
            </div>
        </div>
    </footer>
</body>
