<body>
    <header>
        <div class="navbar">
            <div class="first-container">
                <div class="div-text">
                    <div class="text">
                        XXXX
                    </div>

                    <div class="text">
                        XXXX
                    </div>

                    <div class="text">
                        XXXX
                    </div>

                    <div class="text">
                        XXXX
                    </div>
                </div>

                <div class="div-icon">
                    <div class="icon">
                        <i class="fi fi-rr-home"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-shopping-cart"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-headset"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-menu-burger"></i>
                    </div>
                </div>
            </div>

            <div class="second-container">
            </div>

            <div class="third-container">
            </div>
        </div>
    </header>

    <main>
    </main>

    <footer>
    </footer>
</body>