<body>
    <header>
        <div class="navbar">
            <div class="first-container">
                <div class="div-text">
                    <div class="text">
                        <p>ENDEREÇO</p>
                    </div>

                    <div class="text">
                        <p>SOBRE</p>
                    </div>

                    <div class="text">
                        <p>BLOG</p>
                    </div>
                </div>

                <div class="div-icon">
                    <div class="icon">
                        <i class="fi fi-rr-shopping-cart" (click)="irProCarrinho()"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-headset"></i>
                    </div>

                    <div class="icon">
                        <i class="fi fi-rr-menu-burger"></i>
                    </div>
                </div>
            </div>

            <div class="second-container">
                <div class="title">
                    <h1>WHISPER</h1>
                    <p>INSTRUMENTOS</p>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="principal-container">
            <div class="first-colunm">
                <div class="div-imagens">
                    <img src="{{url}}">
                </div>

                <div class="div-imagens">
                    <img src="{{url}}">
                </div>

                <div class="div-imagens">
                    <img src="{{url}}">
                </div>
            </div>

            <div class="second-colunm">
                <div class="div-imagem">
                    <img src="{{url}}">
                </div>
            </div>

            <div class="thrind-column">

            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="div-social-networks">
                <div class="social-network">
                    <img src="./assets/facebook.png" style="width: 40px;">
                </div>

                <div class="social-network">
                    <img src="./assets/instagram.png" style="width: 40px;">
                </div>

                <div class="social-network">
                    <img src="./assets/twitter.png" style="width: 40px;">
                </div>

                <div class="social-network">
                    <img src="./assets/linkedin.png" style="width: 40px;">
                </div>
            </div>

            <div class="div-informations">
                <div class="info">
                    <p>Informações • Suporte • Marketing</p>
                </div>

                <div class="info">
                    <p>Termos de Uso • Política de Privacidade</p>
                </div>
            </div>

            <div class="copyright">
                <p>&copy; 2022 Camilly Pessotti</p>
            </div>
        </div>
    </footer>
</body>